@font-face {
  font-family: Panton;
  src: url(fonts/Panton-Rust-Script.ttf);
}

@font-face {
  src: url('fonts/FormaDJRCyrillicVariable-VF-Testing.woff2') format('woff2'),
    url('fonts/FormaDJRCyrillicVariable-VF-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicVariable';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRCyrillicMicro-Regular-Testing.woff2') format('woff2'),
    url('fonts/FormaDJRCyrillicMicro-Regular-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicMicro';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRCyrillicText-Regular-Testing.woff2') format('woff2'),
    url('fonts/FormaDJRCyrillicText-Regular-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicText';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRCyrillicDeck-Regular-Testing.woff2') format('woff2'),
    url('fonts/FormaDJRCyrillicDeck-Regular-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicDeck';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRCyrillicDisplay-Regular-Testing.woff2')
      format('woff2'),
    url('fonts/FormaDJRCyrillicDisplay-Regular-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicDisplay';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/FormaDJRCyrillicBanner-Regular-Testing.woff2') format('woff2'),
    url('fonts/FormaDJRCyrillicBanner-Regular-Testing.woff') format('woff');
  font-family: 'FormaDJRCyrillicBanner';
  font-style: normal;
  font-weight: normal;
}

:root {
  font-size: 62.5%;
  --linear-red: linear-gradient(#ff372a, #ff1514);
  --red: #ff3a35;
  --white: #ffffff;
  --light-blue: #eef5ff;
  --base-blue: #002b41;
  --base-blue-75: var(--base-blue) 75%;
  --base-blue-50: var(--base-blue) 50%;
  --base-blue-20: var(--base-blue) 20%;
  --base-text: #385462;
  --base-text-70: var(--base-text) 70%;
  --base-text-50: var(--base-text) 50%;
}

a {
  color: var(--base-blue);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link {
  text-decoration: none;
}
body {
  font-family: 'FormaDJRCyrillicDeck';
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  background-color: var(--light-blue);
  color: var(--base-blue);
  box-sizing: border-box;
}

button {
  border: 0;
}

button:active {
  box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

header {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 3rem 20rem 0 20rem;
  z-index: 1;
}

.mobile-slogan {
  display: none;
}

.head-text {
  font-size: clamp(2.2rem, 6vw, 9rem);
  font-weight: 700;
  color: var(--base-blue);
  line-height: 110%;
}

.sup-text {
  font-family: 'Panton';
  font-size: clamp(1.6rem, 3.8vw, 6.4rem);
  font-weight: 400;
  color: var(--red);
  line-height: 110%;
}

/*Header*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  text-align: center;
}

.header-container__menu.menu {
  border-radius: 100px;
  background: white;
  padding: 2.5rem 1.5rem;
}

.header-container__menu .menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-container__menu .menu-link {
  color: var(--base-blue);
  padding: 15px 15px;
  border-radius: 60px;
}

.header-container__menu .menu-link:hover {
  color: white;
  background: var(--base-blue);
}

.header-container__contacts {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-container__contacts .contacts-number {
  font-weight: 600;
  color: var(--base-blue);
}

.header-container__details.details {
  display: flex;
  gap: 30px;
  border-radius: 100px;
  background: var(--base-blue);
  padding: 20px 25px;
}

.header-container__details .details-text {
  color: white;
}

/*Main*/

.container {
  padding: 0;
}

.background-image {
  background-image: url('public/bg-image-preview.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}

/*Preview*/

.preview {
  text-align: left;
  padding: 16rem 20rem 12rem 20rem;
  color: var(--base-blue);
  margin-bottom: 5rem;
}

.preview__street {
  font-family: 'Panton';
  color: var(--red);
  line-height: 1.5rem;
  text-align: left;
  margin-bottom: 2rem;
}

.preview__slogan {
  font-size: clamp(4rem, 7vw, 12rem);
  font-weight: 700;
  line-height: 12rem;
  margin-bottom: 3rem;
  width: 70vw;
}

.preview__desc {
  width: 30%;
}

/*Description*/

.description-block {
  padding: 0 18rem;
  margin-bottom: 15rem;
}

.description {
  display: flex;
  background: var(--light-blue);
  gap: 2rem;
  border-radius: 4rem;
  padding: 2rem;
  z-index: -10;
}

.description__item {
  border-radius: 3rem;
  background: white;
  padding: 2rem;
  color: var(--base-blue);
}

.description__item__image {
  width: 100%;
}

.description__item__head-text {
  font-size: clamp(1.4rem, 1.6vw, 2.6rem);
  font-weight: 700;
  margin: 1rem 0;
}
.description__item__main-text {
  font-size: clamp(1.2rem, 1.3vw, 1.6rem);
  font-weight: 400;
}

.description__item:nth-child(2n + 1) {
  background: var(--base-blue);
  color: white;
}

/*Company*/

.company-block {
  color: white;
  padding: 10rem 20rem;
  background-image: url('public/background-white-surfing.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vw;
  margin-bottom: 10rem;
}

.company__text {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin-bottom: 3rem;
}

.company__text span:nth-child(2) {
  text-align: end;
}

.company__info {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1rem;
  margin-bottom: 30rem;
}

.company__info__screen {
  position: relative;
  background-image: url('public/Картинка серфера.png');
  border-radius: 3rem;
  width: 100%;
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 30%;
}

.company__info__screen__logo {
  position: absolute;
  width: 33%;
  left: 34%;
  top: 36%;
}

.company__info__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.company__info__block__about {
  height: 80%;
  border-radius: 3rem;
  padding: 4rem;
  background: var(--base-blue);
}

.company__info__block__about p:nth-child(1) {
  font-size: 4rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 2rem;
}
.company__info__block__about p:nth-child(2) {
  margin-bottom: 2rem;
}

.company__info__block__members {
  display: flex;
  height: 20%;
  justify-content: center;
  border-radius: 3.5rem;
  padding: 1.4rem 8rem;
  background: white;
  color: var(--base-blue);
  box-shadow: 0 0 2px black;
}

.company__info__block__members__avatar {
  margin-left: -2rem;
  border: 0.1rem;
  width: 4vw;
}

.company__info__block__members__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2rem;
}

.company__info__block__members__text p:nth-child(1) {
  font-size: 4rem;
  font-weight: 500;
  line-height: 100%;
}

.comment {
  padding: 0 20rem;
  font-weight: 500;
  font-size: clamp(2.5rem, 2.5vw, 4.5rem);
  line-height: 140%;
  color: var(--base-blue);
  margin-bottom: 10rem;
}

/*Rewards*/

.rewards-block {
  padding: 10rem 20rem;
  margin-bottom: 20rem;
  background-image: url('public/background-white-rewards.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vw;
}

.rewards__text {
  color: var(--base-blue);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.rewards__text .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.rewards__text .year {
  align-content: center;
}

.rewards__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background-color: var(--light-blue);
  border-radius: 6rem;
  background: white;
}

.rewards__photo__image {
  width: clamp(30rem, 35vw, 60rem);
  height: auto;
}

.rewards__photo__background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--light-blue);
  border-radius: 6rem;
  background: white;
}

.rewards__photo__background-border {
  padding: 3rem;
  background: var(--light-blue);
  border-radius: 6rem;
}

.rewards__photo__background__text {
  padding: 5rem;
  color: var(--base-blue);
}

.rewards__photo__background__text p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.rewards__photo__background__text p:nth-child(2) {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 2rem;
}

.rewards__photo__background__text p:nth-child(3) {
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  width: 50%;
  margin-bottom: 5rem;
}

/*Programs*/

.programs-block {
  padding: 0 20rem;
}

.programs__text {
  color: var(--base-blue);
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 20rem;
}

.programs__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42rem, 2fr));
  gap: 20rem;
  margin-bottom: 24rem;
}

.easy-start,
.flow-rider {
  color: var(--base-blue);
  display: flex;
  align-content: center;
  justify-content: center;
}

.easy-start__border,
.flow-rider__border {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 6rem;
  padding: 6rem 4rem;
  margin: 0 1.5rem;
  width: 40vw;
}

.easy-start__border__text,
.flow-rider__border__text {
  text-align: center;
  margin-bottom: 3rem;
}

:is(.easy-start__border__text, .flow-rider__border__text)
  p:nth-child(1)::before,
:is(.easy-start__border__text, .flow-rider__border__text)
  p:nth-child(1)::after {
  content: '-';
}

.easy-start__border__text p:nth-child(2),
.flow-rider__border__text p:nth-child(2) {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 120%;
}

.easy-start__info,
.flow-rider__info {
  display: flex;
  gap: 5rem;
  margin-bottom: 3rem;
}

.easy-start__info__course,
.easy-start__info__lesson,
.flow-rider__info__course,
.flow-rider__info__lesson {
  display: flex;
  gap: 2rem;
}

.easy-start__description__mark,
.flow-rider__description__mark {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.easy-start__price,
.flow-rider__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.easy-start__price-old,
.flow-rider__price-old {
  font-size: clamp(1.5rem, 1.6vw, 3rem);
  font-weight: 400;
  text-decoration: line-through;
  margin: 0.8rem 0;
}

.easy-start__price-new,
.flow-rider__price-new {
  font-size: clamp(3rem, 2vw, 5rem);
  font-weight: 700;
  margin: 0.8rem;
}

.easy-start__choose,
.flow-rider__choose {
  background: var(--linear-red);
  padding: 3rem 20rem;
  font-size: clamp(1.6rem, 1.4vw, 2.4rem);
  font-weight: 700;
  border-radius: 10rem;
  color: white;
}

.easy-start__border-image,
.flow-rider__border-image {
  width: clamp(20%, 15vw, 40%);
  position: absolute;
  top: 0;
  transform: translate(-50%, -80%);
  left: 50%;
}

/*Discounts*/

.discounts-block {
  padding: 15rem 20rem;
  background-image: url('public/background-white-discounts.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  margin-bottom: 10rem;
}

.discounts {
  position: relative;
  overflow: visible;
  color: white;
}

.discounts__photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.discounts__text {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: var(--base-blue);
  margin-bottom: 10rem;
}

.discounts__photos__card-image {
  width: clamp(20rem, 20vw, 35rem);
  height: clamp(20rem, 20vw, 35rem);
  object-fit: cover;
  border-radius: 3.5rem;
  filter: brightness(70%);
}

.discounts__photos__border {
  padding: 2rem;
  border-radius: 5rem;
  background-color: var(--light-blue);
}

.discounts__photos__card {
  position: relative;
}

.discounts__photos__card__text-up {
  position: absolute;
  top: 0;
  padding: 3rem;
}

.discounts__photos__card__text-down {
  position: absolute;
  bottom: 0;
  padding: 3rem;
}

.discounts__photos__card__text-image {
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 3rem;
}

/*Order (Form)*/
.order-block {
  padding: 10rem 20rem;
  background-image: url('public/background-white-surfing.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vw;
  margin-bottom: 20rem;
}

.order__text {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.order__form {
  display: flex;
}

.order__form__photo {
  max-width: 100%;
  width: clamp(400px, 35vw, 550px);
  height: clamp(300px, 25vw, 400px);
  margin-left: clamp(40px, 4vw, 100px);
  object-fit: cover;
  object-position: right;
  border-radius: 60px;
}

.order__form__block {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 30px;
}

.order__form__block p:nth-child(n) {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0;
}

.order__form__block a {
  color: var(--red);
}

.order__form__block__table,
.order__form__text {
  text-align: center;
  border-radius: 6rem;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
}

.order__form__block__table__tarif {
  grid-column: 1 / span 2;
}

.order__form__button {
  background: var(--linear-red);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6rem;
  font-size: 2.4rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}

/*Location*/

.location-block {
  position: relative;
  background-image: url('public/address.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 30%;
  width: 100%;
  height: 80vh;
  margin-bottom: 25rem;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--base-blue);
}

.location__text {
  position: absolute;
  left: 20rem;
  top: -5rem;
  display: grid;
  grid-template-columns: clamp(15rem, 15vw, 27rem) clamp(20rem, 25vw, 40rem);
  grid-template-rows: clamp(5rem, 5vw, 10rem) clamp(3rem, 4vw, 6rem);
  width: fit-content;
  background: white;
  border-radius: 6rem;
  padding: 3rem;
}

.location__text p:nth-child(1) {
  grid-column: 1 / span 2;
  margin: 0;
}

.location__text p:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
}

.location__address {
  background: white;
  position: absolute;
  bottom: -10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border-radius: 6rem;
  padding: 3rem 5rem;
}

.location__address__social .text,
.location__address__contacts .phone-number,
.location__address__route .street,
.location__address__route__bus p:nth-child(2) {
  font-size: clamp(1.2rem, 1.1vw, 2rem);
}

.location__address__route {
  display: flex;
  gap: 5rem;
}

.location__point {
  position: absolute;
  left: 38%;
  top: 48%;
}

.location__address__contacts .phone-number,
.location__address__social .text {
  margin-bottom: 1rem;
}

.location__address__route__tag {
  display: grid;
  grid-template-columns: 3rem clamp(8rem, 10vw, 15rem);
  gap: 1rem;
}

.location__address__route__bus p:nth-child(1) {
  font-size: clamp(1.6rem, 1.5vw, 2.6rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

/*Footer*/

.footer-block {
  background: white;
  padding: 10rem 15rem 0 15rem;
}

.footer__common {
  display: flex;
  gap: 15rem;
  justify-content: space-between;
  margin-bottom: 12rem;
}
.footer__common__way {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
  align-items: start;
}

.footer__common__way__logo {
  width: 8vw;
}

.footer__common__contacts,
.footer__common__client {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

:is(.footer__common__contacts, .footer__common__client) a:hover {
  color: var(--red);
}

:is(.footer__common__contacts, .footer__common__client) p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.footer__common__copyright {
  display: flex;
  gap: 15rem;
  justify-content: space-between;
}

.footer__common__contacts p:not(:first-child),
.footer__common__client p:not(:first-child),
.footer__common__contacts a,
.footer__common__client a,
.footer__common__way p,
.footer__common__copyright a,
.footer__common__copyright p {
  font-size: clamp(1.2rem, 1.1vw, 2rem);
}

.footer__common__contacts p:first-child,
.footer__common__client p:first-child {
  font-size: clamp(1.6rem, 1.5vw, 2.6rem);
}

/*Media requests*/

@media (max-width: 1900px) {
  .header-container__menu {
    display: none;
  }
}

@media (max-width: 430px) {
  header {
    padding: 2rem 2rem;
  }
  .header-container__contacts .contacts-number,
  .rewards__text__year,
  .header-container__details.details {
    display: none;
  }
  .head-text {
    font-size: 3.2rem;
  }
  .sup-text {
    font-size: 2.2rem;
  }
  .preview {
    padding: 10rem 2rem;
  }
  .preview__street {
    font-size: 1.2rem;
  }
  .preview__slogan {
    display: none;
  }
  .mobile-slogan {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    line-height: 110%;
  }
  .preview__desc {
    font-size: 1.2rem;
    width: 100%;
  }
  .description-block,
  .company-block,
  .rewards-block,
  .comment,
  .programs-block,
  .discounts-block,
  .order-block,
  .location-block {
    padding: 0 2rem;
  }
  .description {
    padding: 0;
    flex-direction: column;
  }

  .company-block {
    padding: 10rem 2rem;
    height: 188vw;
  }

  .company__text {
    align-items: center;
    width: 90vw;
  }
  .company__info {
    display: flex;
    flex-direction: column;
  }

  .company__info__block__about p:nth-child(1) {
    font-size: 2.5rem;
  }
  .company__info__block__about p:nth-child(2),
  .company__info__block__about p:nth-child(3) {
    font-size: 1.2rem;
  }
  .company__info__block__members__avatar {
    width: 15vw;
  }

  .rewards-block {
    height: 180vw;
    padding: 10rem 2rem;
    background-position: 30% 30%;
  }

  .rewards__text {
    justify-content: center;
  }

  .rewards__text .head {
    flex-direction: column;
    gap: 1rem;
  }

  .rewards__photo__image {
    border-radius: 3rem;
    width: 83vw;
  }

  .rewards__photo__background-border {
    border-radius: 4rem;
    padding: 2rem;
  }

  .rewards__photo__background {
    border-radius: 3rem;
    flex-direction: column;
  }
  .rewards__photo__background__text {
    padding: 0.7rem;
  }
  .rewards__photo__background__text p:nth-child(1),
  .rewards__photo__background__text p:nth-child(3),
  .rewards__photo__background__text p:nth-child(4) {
    font-size: 1.2rem;
  }
  .rewards__photo__background__text p:nth-child(2) {
    font-size: 2.8rem;
  }

  .programs__text {
    flex-direction: column;
    gap: 0;
  }

  .programs-block {
    padding: 0 1rem;
  }

  .easy-start,
  .flow-rider {
    display: block;
    width: 90vw;
  }

  .easy-start__border,
  .flow-rider__border {
    margin: 0;
    padding: 2rem;
    border-radius: 3rem;
    width: 80vw;
  }
  .easy-start__border-image,
  .flow-rider__border-image {
    width: 35%;
  }

  .easy-start__border__text p:nth-child(1),
  .flow-rider__border__text p:nth-child(1) {
    font-size: 1.2rem;
  }
  .easy-start__border__text p:nth-child(2),
  .flow-rider__border__text p:nth-child(2) {
    font-size: 2.5rem;
  }
  .easy-start__info__course__text p:nth-child(1),
  .flow-rider__info__course__text p:nth-child(1) {
    font-size: 1rem;
    line-height: 100%;
  }
  .easy-start__info__course__text p:nth-child(2),
  .flow-rider__info__course__text p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .easy-start__info__lesson__text p:nth-child(1),
  .flow-rider__info__lesson__text p:nth-child(1) {
    font-size: 1rem;
    line-height: 100%;
  }
  .easy-start__info__lesson__text p:nth-child(2),
  .flow-rider__info__lesson__text p:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 500;
  }

  .easy-start__info,
  .flow-rider__info {
    gap: 1rem;
  }

  .easy-start__info__course__image,
  .easy-start__info__lesson__image,
  .flow-rider__info__course__image,
  .flow-rider__info__lesson__image {
    width: 4rem;
  }

  .easy-start__description__mark,
  .flow-rider__description__mark {
    font-size: 1.2rem;
    gap: 1rem;
  }

  .easy-start__price-old,
  .flow-rider__price-old {
    font-size: 1.6rem;
  }

  .easy-start__price-new,
  .flow-rider__price-new {
    font-size: 2.5rem;
  }

  .easy-start__choose,
  .flow-rider__choose {
    padding: 2rem 10rem;
  }

  .discounts-block {
    height: 320vw;
    background-position: 30% 30%;
    padding: 10rem 0;
  }

  .discounts__text {
    justify-content: center;
    margin: 2rem;
  }

  .discounts__photos__card-image {
    width: 80vw;
    height: 80vw;
  }

  .discounts__photos__card__text-up {
    font-size: 2rem;
  }
  .discounts__photos__card__text-down {
    font-size: 2rem;
    font-weight: 700;
  }

  .order-block {
    height: 310vw;
    padding: 10rem 2rem;
    background-position: 30% 30%;
  }

  .order__form {
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .order__form__block {
    display: flex;
    flex-direction: column;
  }
  .order__form__block p {
    font-size: 1.2rem;
  }
  .order__form__photo {
    width: 90vw;
    margin: 0;
    border-radius: 3rem;
  }

  .order__form__block__table,
  .order__form__text {
    padding: 2rem;
    font-size: 1.2rem;
  }
  .order__form__button {
    padding: 2rem;
    font-size: 1.6rem;
  }

  .location-block {
    width: 88vw;
  }

  .location__text {
    grid-template-columns: 8rem 14rem;
    grid-template-rows: 3rem 3rem;
    border-radius: 3rem;
    left: auto;
  }

  .location__address {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(1, clamp(28rem, 80vw, 36rem));
    grid-template-rows: repeat(3, 8rem);
    gap: 0;
    background: none;
    place-content: center;
  }

  .location__address__contacts {
    grid-column: 1 / span2;
  }

  .location__address__contacts,
  .location__address__social {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 700;
    background: white;
    border-radius: 3rem;
    padding: 1.5rem;
    place-items: center;
    margin-bottom: 2rem;
  }

  .location__address__contacts .phone-number,
  .location__address__social .text {
    margin: 0;
  }

  .location__address__route {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1.5rem;
    border-radius: 3rem;
  }

  .location__address__route__tag {
    font-size: 1.2rem;
    width: 40%;
  }
  .location__address__route__tag .street {
    width: 70%;
  }
  .location__address__online-image {
    display: none;
  }

  .location__address__route__bus p:nth-child(1) {
    font-size: 1.4rem;
    margin: 0;
  }
  .location__address__route__bus p:nth-child(2) {
    font-size: 1.2rem;
  }

  .footer-block {
    padding: 5rem 2rem 0 2rem;
  }

  .footer__common {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }

  .footer__common__way {
    display: none;
  }

  .footer__common__contacts {
    font-size: 1.2rem;
  }
  .footer__common__contacts p:nth-child(1) {
    font-size: 1.4rem;
  }

  .footer__common__client {
    font-size: 1.2rem;
  }
  .footer__common__client p:nth-child(1) {
    font-size: 1.4rem;
  }

  .footer__common__copyright {
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer__common__copyright p:nth-child(1) {
    order: 3;
  }
}
